* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    border: 5px solid black;
}

.result {
    flex-basis: 10%;
    background-color: #ddd;
}

.panel {
    display: flex;
    flex-grow: 1;
    background-color: lightblue;
    flex-wrap: wrap;
}

.panel div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 30%;
    border: 3px solid red;
    flex-grow: 1;
    font-size: 50px;
}